.main {
    background-color: #000000;
  }
  
  .main__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #000000;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding-right: 50px;
    padding-left: 50px;
  }
  
  .main__content {
    color: #fff;
    width: 100%;
  }
  
  .main__content h1 {
    font-size: 4rem;
    background-color: #ffde59;
    background-image: linear-gradient(to top, #ffde59 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
    
  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
  }
  
  .main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
  }
  
  .main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 4px;
  }
  
  .main__btn:hover {
    color: #fff;
  }
  
  .main__btn:hover:after {
    width: 100%;
  }
  
  .main__img--container {
    text-align: center;
  }
  
  #main__img {
    height: 80%;
    width: 80%;
  }

.container {
    display: flex;
    gap: 10px;
    padding: 40px 100px;
    justify-self: center;
}

.container img {
    justify-self: center;
    max-width: 500px;
    max-height: 500px;
}

.container p {
    font-size: larger;
    padding-left: 20px;
}

@media screen and (max-width: 1000px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
      }
    
      .main__content {
        text-align: center;
        margin-bottom: 4rem;
      }
    
      .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
      }
    
      .main__content h2 {
        font-size: 3rem;
      }
    
      .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
      }
    .container {
        display: grid; 
        padding: 50px;
        margin: 0 2rem;
        text-align: center;
    }
    .containter img {
        width: 400px !important;
    }
    .container p {
        margin-top: 20px;
        text-align: left;
    }
}

@media screen and (max-width: 768px) {
  .containter img {
    width: 250px !important;
}
}
